body {
    background-color: #262626;
    color: #fff;
    padding: 40px 10px;
    font-size: 20px;
}

section {
    text-align: center;
}

.tagline {
    max-width: 500px;
    width: 100%;
}

.video {
    max-height: 20px;
}